.countdownContainer {
  display: flex;
  align-items: center;

  span {
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    color: var(--title);
  }

  & > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--white);
    box-shadow: 0 0 60px rgba(12, 12, 12, .12);
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;

    & > span {
      flex: 1;

      &:first-child {
        border-right: 1px solid var(--gray-line);
      }
    }
  }

  & > span {
    margin: 0 0.5rem;
    font-size: 6.25rem;
  }
}

.countdownButton {
  margin-top: 2rem;
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-weight: 600;
  
  border: 0;
  border-radius: 5px;
  background-color: var(--blue);
  transition: background-color .2s;

  &:not(:disabled):hover {
    background-color: var(--blue-dark);
  }

  &:disabled {
    background-color: var(--white);
    color: var(--text);
    cursor: not-allowed;
    border-bottom: 2px solid var(--green);
  }
}

.countdownButtonActive {
  background-color: var(--white);
  color: var(--title);

  &:hover {
    background-color: var(--red) !important;
    color: var(--white) !important;
  }
}